## bccmd daemon
type bccmd, domain;
permissive bccmd;
type bccmd_exec, exec_type, file_type;
init_daemon_domain(bccmd)
unconfined_domain(bccmd)

## HCI
allow hci_attach hci_attach_dev:chr_file rw_file_perms;
allow bccmd hci_attach_dev:chr_file rw_file_perms;
